* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
  padding: 40px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0; /* Ensures the navbar sticks to the top of the viewport */
  z-index: 100; /* Ensures the navbar stays on top of other content */
}

.navbar-logo {
  position: absolute;
  left: 30px;
}

.navbar-logo a {
  color: #0a0909;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.navbar-logo img {
  width: 150px; /* Adjust the width for desktop */
  height: 150px;
  object-fit: contain;
  margin-left: 70px;
  margin-top: 7px; /* Move the image slightly to the right */
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.navbar-menu li {
  margin-left: 25px;
}

.navbar-menu a {
  color: #6B707F;
  font-family: "poppins";
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-menu a:hover {
  color: #FFA500;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 30px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: all 0.3s ease;
}

/* Responsive media query for mobile */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0;
    border-top: 1px solid #ccc;
    z-index: 10;
  }

  .navbar-menu li {
    margin-left: 0;
    text-align: center;
    padding: 10px 0;
  }

  .navbar-menu a {
    padding: 15px;
  }

  .hamburger {
    display: flex;
  }

  /* Toggle Menu Visibility */
  .navbar-menu.active {
    display: flex;
  }

  .navbar-logo img {
    width: 100px; /* Adjust the width for mobile */
    margin-left: 10px; /* Adjust margin for mobile */
  }
}
